@import url("https://fonts.googleapis.com/css?family=Palanquin&display=swap");

.App {
  text-align: center;
  min-height: 100%;
}

.margin-extreme {
  margin-top: 100px;
}


.img {
  width: 100% auto;
}

.header {
  position: absolute;
  top: 60px;
}

.header-font {
  font-family: "Palanquin", sans-serif;
  font-size: 52px;
  padding: 10px;
  letter-spacing: 0.5;
  font-style: normal;
  font-weight: bold;
}

.nav-link {
  font-family: "Palanquin", sans-serif;
  font-size: 18px;
  padding: 10px;
  letter-spacing: 1.8px;
  line-height: 2;
  font-style: normal;
  font-weight: 500;
}

.text-shadow-1 {
  color: #00df25;
  font-size: 35px;
}

.navbar {
  z-index: 1;
  background-color: transparent;
}

.text-shadow-1 {
  color: #00df25;
  font-size: 18px;
}

.padding-top {
  position: absolute;
  bottom: -15px;
}

.quality-text {
  font-family: "Palanquin", sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 16px;
  letter-spacing: 0.5px;
  line-height: 1.6;
  color: rgb(143, 143, 143);
}



.top-nav-collapse {
  background-color: rgba(0, 0, 0, 0.95);
}


@media(min-width: 768px) and (max-width: 991.98px) {
  .navbar {
    background-color: rgba(0, 0, 0, 0.774);

  }

  .header {
    position: absolute;
    top: 30px;
  }


  .counter-text {
    font-family: 'Palanquin', sans-serif;
    font-weight: bold;
    font-size: 20px;
    line-height: 0.2;
    letter-spacing: 3px;
    color: rgb(48, 179, 9);
  }

  .padding-top {
    position: absolute;
    bottom: -30px;
  }

  .header-font {
    font-family: "Palanquin", sans-serif;
    font-size: 28px;
    letter-spacing: 0.5;
    font-style: normal;
    font-weight: bold;
  }

}

@media (min-width: 568px) and (max-width: 767.98px) {
  .navbar {
    background-color: rgba(0, 0, 0, 0.774);
  }

  .text-shadow-1 {
    color: #00df25;
    font-size: 18px;
  }

  .header {
    position: absolute;
    top: 65px;
  }

  .padding-top {
    position: absolute;
    bottom: -20px;
  }

  .quality-text {
    font-family: "Palanquin", sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 12px;
    letter-spacing: 0.6px;
    line-height: 1.8;
    color: rgb(143, 143, 143);
  }

  .header-font {
    font-family: "Palanquin", sans-serif;
    font-size: 25px;
    letter-spacing: 0.5;
    font-style: normal;
    font-weight: bold;
  }

  .counter-text {
    font-family: 'Palanquin', sans-serif;
    font-weight: bold;
    font-size: 20px;
    line-height: 0.2;
    letter-spacing: 3px;
    color: rgb(48, 179, 9);
  }

}


@media (min-width: 360px) and (max-width: 567.98px) {
  .navbar {
    background-color: rgba(0, 0, 0, 0.774);
  }

  .text-shadow-1 {
    color: #00df25;
    font-size: 18px;
  }

  .header {
    position: absolute;
    top: 60px;
  }

  .padding-top {
    position: absolute;
    bottom: -20px;
  }

  .quality-text {
    font-family: "Palanquin", sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 12px;
    letter-spacing: 0.6px;
    line-height: 1.8;
    color: rgb(143, 143, 143);
  }

  .header-font {
    font-family: "Palanquin", sans-serif;
    font-size: 25px;
    letter-spacing: 0.5;
    font-style: normal;
    font-weight: bold;
  }

  .counter-text {
    font-family: 'Palanquin', sans-serif;
    font-weight: bold;
    font-size: 20px;
    line-height: 0.2;
    letter-spacing: 3px;
    color: rgb(48, 179, 9);
  }

}

@media (min-width: 100px) and (max-width: 359.98px) {
  .navbar {
    background-color: rgba(0, 0, 0, 0.774);
  }

  .text-shadow-1 {
    color: #00df25;
    font-size: 18px;
  }

  .header {
    position: absolute;
    top: 10px;
  }

  .padding-top {
    position: absolute;
    bottom: -20px;
  }

  .quality-text {
    font-family: "Palanquin", sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 12px;
    letter-spacing: 0.6px;
    line-height: 1.6;
    color: rgb(143, 143, 143);
  }

  .header-font {
    font-family: "Palanquin", sans-serif;
    font-size: 30px;
    letter-spacing: 0.5;
    font-style: normal;
    font-weight: bold;
  }

  .counter-text {
    font-family: 'Palanquin', sans-serif;
    font-weight: bold;
    font-size: 20px;
    line-height: 0.2;
    letter-spacing: 3px;
    color: rgb(48, 179, 9);
  }



}

.button {
  -webkit-border-radius: 40px 40px 40px 40px;
  -moz-border-radius: 40px 40px 40px 40px;
  border-radius: 40px 40px 40px 40px;
  background-color: green;
  display: inline;
  padding: 10px 20px 10px 20px;
  font-size: 15px;
  font-family: "Palanquin", sans-serif;
  font-weight: 300px;
  box-shadow: 0px 5px 10px 10px rgba(74, 255, 24, 0.233);
}

#About {
  transition: easeIn 2s;
}