@import url("https://fonts.googleapis.com/css?family=Palanquin&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@300&display=swap");

.App {
  text-align: center;
  min-height: 100%;
}

.margin-extreme {
  margin-top: 100px;
}

.img {
  width: 100% auto;
}

.header {
  position: absolute;
  top: 0px;
}

.header-font {
  font-family: "Manrope", sans-serif;
  font-size: 52px;
  padding: 10px;
  line-height: 1.3;
  letter-spacing: 1.5px;
  letter-spacing: 0.5;
  font-style: normal;
  font-weight: 600;
}

.margin {
  margin-top: 250px;
}

.nav-link {
  font-family: "Manrope", sans-serif;
  font-size: 15px;
  letter-spacing: 1.8px;
  line-height: 2;
  padding: 5px;
  font-style: normal;
  font-weight: 600;
}

.nav-link:hover {
  width: 90px;
  border-bottom: 2px solid green;
}

.text-shadow-1 {
  color: transparent;
  font-size: 35px;
  font-family: "Palanquin", sans-serif;
  font-weight: bold;
  background: url("./assets/green.jpeg");
  background-size: 50% 50%;
  letter-spacing: 1.6px;
  line-height: 2;

  background-clip: text;
  -webkit-background-clip: text;
}

.navbar {
  z-index: 1;
  background-color: transparent;
}

.padding-top {
  position: absolute;
  bottom: -15px;
}

.quality-text {
  font-family: "Palanquin", sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 16px;
  letter-spacing: 0.5px;
  line-height: 1.6;
  color: rgb(143, 143, 143);
}

.top-nav-collapse {
  background-color: rgba(0, 0, 0, 0.452);
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .navbar {
    background-color: rgba(0, 0, 0, 0.774);
  }

  .header {
    position: absolute;
    top: 45px;
  }

  .text-shadow-1 {
    color: transparent;
    font-size: 30px;
    font-family: "Palanquin", sans-serif;
    font-weight: bold;
    background: url("./assets/green.jpeg");
    background-size: 70% 70%;
    background-clip: text;
    -webkit-background-clip: text;
  }

  .counter-text {
    font-family: "Manrope", sans-serif;
    font-weight: bold;
    font-size: 20px;
    line-height: 0.2;
    letter-spacing: 3px;
    color: rgb(48, 179, 9);
  }

  .margin {
    margin-top: 130px;
    margin-bottom: 130px;
  }

  .padding-top {
    position: absolute;
    bottom: -25px;
  }

  .header-font {
    font-family: "Manrope", sans-serif;
    font-size: 40px;
    padding: 10px;
    line-height: 1.3;
    letter-spacing: 1.5px;
    letter-spacing: 0.5;
    font-style: normal;
    font-weight: 700;
  }
}

@media (min-width: 568px) and (max-width: 767.98px) {
  .navbar {
    background-color: rgba(0, 0, 0, 0.774);
  }

  .header {
    position: absolute;
    top: 60px;
  }

  .padding-top {
    position: absolute;
    bottom: -20px;
  }

  .quality-text {
    font-family: "Palanquin", sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 12px;
    letter-spacing: 0.6px;
    line-height: 1.8;
    color: rgb(143, 143, 143);
  }

  .header-font {
    font-family: "Manrope", sans-serif;
    font-size: 20px;
    padding: 10px;
    line-height: 1.3;
    letter-spacing: 1.5px;
    letter-spacing: 0.5;
    font-style: normal;
    font-weight: 600;
  }

  .text-shadow-1 {
    color: transparent;
    font-size: 20px;
    font-family: "Palanquin", sans-serif;
    font-weight: bold;
    background: url("./assets/green.jpeg");
    background-size: 70% 70%;
    background-clip: text;
    -webkit-background-clip: text;
  }

  .margin {
    margin-top: 90px;
    margin-bottom: 90px;
  }

  .counter-text {
    font-family: "Palanquin", sans-serif;
    font-weight: bold;
    font-size: 20px;
    line-height: 0.2;
    letter-spacing: 3px;
    color: rgb(48, 179, 9);
  }
}

@media (min-width: 360.1px) and (max-width: 567.98px) {
  .navbar {
    background-color: rgba(0, 0, 0, 0.774);
  }

  .header {
    position: absolute;
    top: 60px;
  }

  .text-shadow-1 {
    color: transparent;
    font-size: 20px;
    font-family: "Palanquin", sans-serif;
    font-weight: bold;
    background: url("./assets/green.jpeg");
    background-size: 70% 70%;
    background-clip: text;
    -webkit-background-clip: text;
  }

  .padding-top {
    position: absolute;
    bottom: -20px;
  }

  .quality-text {
    font-family: "Palanquin", sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 12px;
    letter-spacing: 0.6px;
    line-height: 1.8;
    color: rgb(143, 143, 143);
  }

  .header-font {
    font-family: "Manrope", sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: bold;
    font-weight: 900;
  }

  .counter-text {
    font-family: "Palanquin", sans-serif;
    font-weight: bold;
    font-size: 20px;
    line-height: 0.2;
    letter-spacing: 3px;
    color: rgb(48, 179, 9);
  }
}

@media (min-width: 100px) and (max-width: 360px) {
  .navbar {
    background-color: rgba(0, 0, 0, 0.774);
  }

  .header {
    position: absolute;
    top: 10px;
  }

  .padding-top {
    position: absolute;
    bottom: -20px;
  }

  .quality-text {
    font-family: "Palanquin", sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 12px;
    letter-spacing: 0.6px;
    line-height: 1.6;
    color: rgb(143, 143, 143);
  }

  .header-font {
    font-family: "Manrope", sans-serif;
    font-size: 25px;
    letter-spacing: 0.5;
    font-style: normal;
    font-weight: bold;
  }

  .text-shadow-1 {
    color: transparent;
    font-size: 18px;
    font-family: "Palanquin", sans-serif;
    font-weight: bold;
    background: url("./assets/green.jpeg");
    background-size: 70% 70%;
    background-clip: text;
    -webkit-background-clip: text;
  }

  .counter-text {
    font-family: "Palanquin", sans-serif;
    font-weight: bold;
    font-size: 20px;
    line-height: 0.2;
    letter-spacing: 3px;
    color: rgb(48, 179, 9);
  }

  .text-shadow-1 {
    color: transparent;
    font-size: 15px;
    font-family: "Palanquin", sans-serif;
    font-weight: bold;
    background: url("./assets/green.jpeg");
    background-size: 50% 50%;
    letter-spacing: 1.6px;
    line-height: 2;
    background-clip: text;
    -webkit-background-clip: text;
  }
}

.button {
  -webkit-border-radius: 40px 40px 40px 40px;
  -moz-border-radius: 40px 40px 40px 40px;
  border-radius: 40px 40px 40px 40px;
  background-color: green;
  display: inline;
  padding: 10px 20px 10px 20px;
  font-size: 15px;
  font-family: "Palanquin", sans-serif;
  font-weight: 300px;
  box-shadow: 0px 5px 10px 10px rgba(74, 255, 24, 0.233);
}

#About {
  transition: easeIn 2s;
}